.main {
    height: 300px;
    width: 300px;
    background-color: green;
    border: 10px solid black;
    outline: 10px solid blue;
    margin: 30px auto auto auto;
    box-sizing: border-box;
}

div {
    font-size: 30px;
    color: white;
    text-align: center;
    padding:40px ;


}